{% extends 'base.html.twig' %}

{% block title %}User Followers{% endblock %}
 {% block bread %}User Followers {% endblock %}

{% block body %}
<div>
  {{ include ('profile/_profile_header.html.twig') }}

  {{ include ('profile/_profile_tabs.html.twig') }}

  
  {{ include ('follower/_follower_list.html.twig', {users: user.followers}) }}
</div>
   
{% endblock %}