{% extends 'base.html.twig' %}

{% block title %}
	Edit Post
{% endblock %}
{% block bread %}
	<a href="{{ path('app_micro_post_show', {post: post.id}) }}">Post /
	</a>
	Edit
{% endblock %}

{% block body %}
	<div>
		<h2 class="text-center text-cyan-500/90 font-extrabold dark:text-gray-100 text-3xl/8 my-8 tracking-widest">Edit Post</h2>
		<div class="container w-full md:w-2/3 xl:w-1/2 mx-auto mt-4 rounded-md shadow-md shadow-cyan-500/50  text-left md:text-center ">
			{% include ('micro_post/_form.html.twig') %}
		</div>
	</div>
{% endblock %}
