{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	{% if app.user.follows is defined and not app.user.follows.contains(userToFollow) %}

		<a href="{{ path('app_follow', {id: userToFollow.id}) }}" class="rounded-md border p-2 border-cyan-500 bg-cyan-700 hover:bg-cyan-500/70 dark:bg-cyan-300 text-white">Follow</a>

	{% else %}
		<a href="{{ path('app_unfollow', {id: userToFollow.id}) }}" class="rounded-md border p-2 border-cyan-500 bg-cyan-700 hover:bg-cyan-500/60 dark:bg-cyan-300 my-4 text-white">Unfollow</a>
	{% endif %}
{% endif %}
